@charset "UTF-8";

/*项目主体框架样式 start*/

.app-main .aside {
  display: inline-block;
}

.app-main .main {
  display: inline-block;
  margin-left: 302px;
}

.app-main .el-header,
.app-main .el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
  padding: 0;
}

.app-main .el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.app-main .el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

.app-main body > .el-container {
  margin-bottom: 40px;
}

.app-main .el-container:nth-child(5) .el-aside,
.app-main .el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.app-main .el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

/*项目主体框架样式 end*/

/*项目头部样式 start*/

.header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*项目头部样式 end*/

.footer {
  background-color: #343A40;
  color: #ffffff;
}

