/*项目主体框架样式 start*/
.app-main {
  .aside {
    display: inline-block;
  }

  .main {
    display: inline-block;
    margin-left: 302px;
  }

  .el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
    padding: 0;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
}

/*项目主体框架样式 end*/

/*项目头部样式 start*/
.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

/*项目头部样式 end*/
.footer{
  background-color: #343A40;
  color: #ffffff;
}